body{
	margin: 0;
	padding: 0;
	background-image: url("40.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

.con{
	padding: 40px;
	margin:0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background-image: url("38.jpg");
	border-radius: 5px;
	box-sizing: border-box;
}
.con1{
	margin: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% ,-50%);
	//background-color: #2fe9e9;
	background-image: url("38.jpg");
	padding: 50px;
	padding-left: 30px;
	border-radius: 5px;
	box-sizing: border-box;

}
.user{
	margin: 0;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left:30px;
	background: transparent;


}
.user1{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left:10px;
	background: transparent;
	//background-color: #2fe9e9;
}
h1{
	font-size: 20px;
	text-align: right;
	padding-left: 20px;
}
 p{
	height: 10px;
	text-transform: uppercase;
	padding: 0;
	background: transparent;
	font-size: 16px;
	color: red;
}
input{
	width: 100%;
	border-bottom: 10px;
	padding: 10px;
}
input[type="name"],input[type="password"],input[type="email"]{
	border:none;
	padding: 0;
	color: blue;
	border-bottom: 2px black solid;
	padding: 7px;
	width: 100%;
}
input[type="submit"]{
	border: 0;
	outline: 0;
	border-radius: 20px;
	background-color: #CA2C92;
	color: black;
	width: 50%;

}
input[type="submit"]:hover{
	background-color: black;
	color: white;
}
a{
	text-decoration: none;
	color: green;
}
a:hover{
	color: red;

}